{{#*inline "settingPartial"}}
<div class="form-group">
    <label>{{this.name}}</label>
    <div class="form-fields">

        {{#if this.isCheckbox}}
        <input type="checkbox" name="{{this.module}}.{{this.key}}" data-dtype="Boolean" {{checked this.value}}/>

        {{else if this.isSelect}}
        <select name="{{this.module}}.{{this.key}}">
            {{#select this.value}}
            {{#each this.choices as |name k|}}
            <option value="{{k}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>

        {{else if this.isRange}}
        <input type="range" name="{{this.module}}.{{this.key}}" data-dtype="Number" value="{{ this.value }}"
               min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}"/>
        <span class="range-value">{{this.value}}</span>

        {{else}}
        <input type="text" name="{{this.module}}.{{this.key}}" value="{{this.value}}" data-dtype="{{this.type}}"/>
        {{/if}}
    </div>

    <p class="notes">{{this.hint}}</p>
</div>
{{/inline}}

{{#*inline "menuPartial" }}
<div class="form-group submenu">
    <label>{{ localize this.name }}</label>
    <button type="button" data-key="{{ this.key }}">
        {{#if this.icon}}<i class="{{ this.icon }}"></i>{{/if}}
        <label>{{ localize this.label }}</label>
    </button>
    {{#if this.hint}}<p class="notes">{{ localize this.hint }}</p>{{/if}}
</div>
{{/inline}}

<form class="flexcol" autocomplete="off">

    <!-- Navigation Tabs -->
    <nav class="sheet-tabs tabs" data-group="sections">
        <a class="item" data-tab="general"><i class="fas fa-dice-d20"></i> General Settings</a>
        {{#each data.tabs as |tabData k|}}
        <a class="item" data-tab={{tabData.name}}><i class="fas fa-cogs"></i> {{tabData.i18nName}}</a>
        {{/each}}
    </nav>

    <!-- Main Content Section -->
    <section id="config-tabs" class="content">

        <!-- General Tab -->
        <div class="tab" data-tab="general" data-group="sections">
            <div class="settings-list">
                {{#each data.core.menus}}
                {{> menuPartial}}
                {{/each}}
                {{#each data.core.settings}}
                {{> settingPartial}}
                {{else}}
                <p class="notes">{{localize 'SETTINGS.None'}}</p>
                {{/each}}
            </div>
        </div>
        
        <!-- @todo for each on the tabs instead of hardcode -->
        <!-- Systems Tab -->
        <div class="tab" data-tab="sorcerer" data-group="sections">
            <div class="settings-list">
                <h2 class="module-header">{{ localize data.system.title }}</h2>
                {{#each data.system.menus}}
                {{> menuPartial}}
                {{/each}}
                {{#each data.system.settings}}
                {{> settingPartial}}
                {{else}}
                <p class="notes">{{localize 'SETTINGS.None'}}</p>
                {{/each}}
            </div>
        </div>
    </section>

    <!-- Settings Footer -->
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
        <button type="button" name="reset">
            <i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}
        </button>
    </footer>
</form>
