<form autocomplete="off">
    <header class="sheet-header">
        <h1>Player Helpers</h1>
    </header>
    <label for="wmFeatureName">{{localize "DND5EH.WildMagicFeatureName_name"}}:</label>
    <input type="text" id="wmFeatureName" name="wmFeatureName" value="{{config.wmFeatureName}}">
    <button name="save">Save Settings</button>
</form>
